<form id="form" action="submit" method="post" accept-charset="utf-8" enctype="multipart/form-data">
  <input id="fileinput" data-maxwidth="620" data-maxheight="620" type="file" name="file[]" multiple/>
  <input type="submit" value="Upload &rarr;">
</form>

<div id="preview"></div>

<script src="preprocess.js" type="text/javascript" charset="utf-8"></script>
