<form action="submit" method="post" accept-charset="utf-8" enctype="multipart/form-data">
  <input id="fileinput" type="file" name="file[]" multiple/>
  <input type="submit" value="Upload &rarr;">
</form>

<div id="preview"></div>

<script type="text/javascript" charset="utf-8">

      var preview = document.getElementById('preview');
      var fileinput = document.getElementById('fileinput');
      var canvas = document.getElementById('canvas');
      var formData = new FormData();
      
      function processfile(file) {
          var reader = new FileReader();
          reader.onload = function (event) {
            var image = new Image();
            image.src = event.target.result;
            //preview.appendChild(image); // preview commented out, I am using the canvas instead
            // I need the image object from reader into the canvas
            resized = resizeMe(image); // TODO add this to formData
            formData.append('file', resized);
          };

          reader.readAsDataURL(file); // I am actually not using this at all now
      }
  
      function readfiles(files) {
          
          for (var i = 0; i < files.length; i++) {
            processfile(files[i]);
            //formData.append('file', files[i]);
          }
          console.log(formData); // FIXME empty :-P
      }
      
      fileinput.onchange = function(){
        readfiles(fileinput.files);
      }
      
      // === RESIZE ====
      
      function resizeMe(img) {
      
        canvas = document.createElement('canvas');
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0);

        var MAX_WIDTH = 100;
        var MAX_HEIGHT = 100;
        var width = img.width;
        var height = img.height;

        if (width > height) {
          if (width > MAX_WIDTH) {
            height *= MAX_WIDTH / width;
            width = MAX_WIDTH;
          }
        } else {
          if (height > MAX_HEIGHT) {
            width *= MAX_HEIGHT / height;
            height = MAX_HEIGHT;
          }
        }

        canvas.width = width;
        canvas.height = height;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0, width, height);
        
        preview.appendChild(canvas); // do the actual resized preview
        
        return canvas.toDataURL("image/jpg");

      }
      
</script>