

<form action="submit" method="post" accept-charset="utf-8" enctype="multipart/form-data">
  <input id="fileinput" type="file" name="file[]" multiple/>
  <input type="submit" value="Upload &rarr;">
</form>